<main>
   <div class="hr-bar">
      <div class="flex z-10 bg-white pr-[4%] absolute gap-2 items-center ">
         
          <h1 class="font-bold text-gray-700 text-[20px]">ĐĂNG NHẬP THÀNH VIÊN</h1>
      </div>
      <div class="h-1 relative z-0 -bottom-3 w-[100%] bg-orange-500">
      </div>
  </div>

  <div class="py-[10%] flex justify-center">
     <form   #form="ngForm" (ngSubmit)="clickSubmit()" class="w-[40%]" action="">
      <div *ngIf="formRegister" class="mb-[10px] flex justify-between">
         <div>
            <div class="mb-[10px]"> 
               <label for="" class="text-gray-700 font-mono font-bold pb-[20px]">Nhập tên <span class="text-gray-500">*</span></label>
              </div>
               <input required minlength="2" name="firstname" placeholder="example@gmail.com" [(ngModel)]="user.lastname" #firstname="ngModel" class="block p-2 bg-[#fafafa] w-[100%] h-[40px] border-[1px] border-gray-300"  type="email">
               <div class="text-[12px] mt-[5px] text-red-500" *ngIf="(firstname.touched || firstname.dirty) && firstname.invalid">
                  <div *ngIf="firstname.errors?.['required']">
                     Tên không được để trống!
                  </div>
                  <div *ngIf="firstname.errors?.['minlength']">
                     Tên chưa đủ ký tự!
                  </div>
              </div>  
         </div>
         <div>
            <div class="mb-[10px]"> 
               <label for="" class="text-gray-700 font-mono font-bold pb-[20px]">Nhập họ <span class="text-gray-500">*</span></label>
              </div>
               <input required minlength="2" name="lastname" placeholder="example@gmail.com" [(ngModel)]="user.firstname" #lastname="ngModel" class="block p-2 bg-[#fafafa] w-[100%] h-[40px] border-[1px] border-gray-300"  type="email">
               <div class="text-[12px] mt-[5px] text-red-500" *ngIf="(lastname.touched || lastname.dirty ) && lastname.invalid">
                  <div *ngIf="lastname.errors?.['required']">
                     Họ không được để trống!
                  </div>
                  <div *ngIf="lastname.errors?.['minlength']">
                     Họ chưa đủ ký tự!
                  </div>
              </div>  
         </div>
      </div>
        <div class="mb-[10px]">
           <div class="mb-[10px]"> 
            <label for="" class="text-gray-700 font-mono font-bold pb-[20px]">Nhập tài khoản Email <span class="text-gray-500">*</span></label>
           </div>
            <input required email name="email" placeholder="example@gmail.com" [(ngModel)]="user.email" #email="ngModel" class="block p-2 bg-[#fafafa] w-[100%] h-[40px] border-[1px] border-gray-300"  type="email">
            <div class="text-[12px] mt-[5px] text-red-500" *ngIf="(email.touched || email.dirty) && email.invalid">
               <div *ngIf="email.errors?.['required']">
                  Email không được để trống!
               </div>
               <div *ngIf="email.errors?.['email']">
                  Email phải đúng định dạng!
               </div>
           </div>  
        </div>
        <div class="mb-[25px]">
            <div class="mb-[10px]"> 
             <label for="" class="text-gray-700 font-mono  font-bold pb-[20px]">Mật khẩu <span class="text-gray-500">*</span></label>
            </div>
             <input required minlength="8" #password="ngModel"  name="password"  placeholder="********" [(ngModel)]="user.password" class="block p-2 bg-[#fafafa] w-[100%] h-[40px] border-[1px] border-gray-300"  type="text">
             <div class="text-[12px] mt-[5px] text-red-500" *ngIf="(password.touched || password.dirty ) && password.invalid">
               <div *ngIf="password.errors?.['required']">
                  Password không được để trống!
               </div>
               <div *ngIf="password.errors?.['minlength']">
                  Password phải lớn hơn 6 ký tự!
               </div>
           </div>     
         </div>
         <div class="text-center mb-[15px]">
            <span class="text-red-500">{{loginState}}</span>
         </div>
         <div class="flex gap-10"> 
            <button [disabled]="form.pristine || form.invalid" type="submit" class="disabled:bg-orange-300 bg-orange-500 py-[10px] rounded-md shadow-md duration-150 hover:bg-orange-700 font-bold font-sans text-white w-[100%]">{{formRegister ? "Đăng ký" : "Đăng Nhập"}}</button>
            <button routerLink="{{formRegister?  '/login': '/register'}}"  class="bg-orange-500 py-[10px] rounded-md shadow-md duration-150 hover:bg-orange-700 font-bold font-sans text-gray-500 w-[100%]">{{!formRegister ? "Đăng ký" : "Đăng Nhập"}}</button>
         </div>
         <div class="text-center mt-[25px]">
            <span *ngIf="!formRegister" class="font-bold text-gray-500">Lấy lại mật khẩu <span class="text-[8px]">(Comming soon)</span></span>
         </div>
     </form>
  </div>


 <div>
    <div class="h-1 relative z-0 -bottom-3 w-[100%] bg-orange-500">
    </div>
 </div>
</main>
