<div class=" shadow-md md:rounded-lg">
    <div class="mb-[25px]">
        <button routerLink="addproduct" class="font-bold bg-red-500 rounded-lg p-2 text-gray-100 text-[25px]">Add New Game</button>
    </div>


    <h1 class=" mb-[5px] font-bold">Products List</h1>

    <table class=" w-[100%] text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700  bg-gray-50  ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Thumbnail
                </th>
                <th scope="col" class="px-6 py-3">
                    Platform
                </th>
                <th scope="col" class="px-6 py-3">
                    publisher
                </th>
                <th scope="col" class="px-6 py-3">
                    LinkDownload
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody *ngIf="products && products.length">
            <tr *ngFor="let product of products" class="odd:bg-white  even:bg-gray-50  border-b dark:border-gray-300">
                <th scope="row" class="px-6 py-4 font-bold text-gray-900 whitespace-nowrap">
                   {{product.title}}
                </th>
                <td class="px-6 py-4">
                   <img [src]="product.thumbnail" width="100" alt="">
                </td>
                <td class="px-6 py-4">
                    {{product.platform}}
                </td>
                <td class="px-6 py-4">
                    <span>{{product.publisher}}</span>
                </td>
                <td class="px-6 py-4">
                    <span>{{product.game_url}}</span>
                </td>
                
                <td class="flex items-center gap-2 px-6 py-4">
                    <button (click)="deleteProducts(product.id)" class="font-bold  text-red-500 hover:underline">Delete</button>
                    <a routerLink="edit/{{product.id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>